/* FavoriteContainer Styles */
.FavoriteContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #fff;
  }
  
  /* TopBar Styles */
.TopBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between; /* 이 부분을 수정 */
}
  
  .TopBar .Arrow {
    margin-right: 10px;
    cursor: pointer;
    width: 31px;
    height: 33px;
    margin-bottom: 8px;
  }
  .TopBar h1 {
    display: flex;
    margin: auto; /* 추가된 부분 */
  }
/* RecipeList Styles */
.RecipeList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.RecipeItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 100;
}

.RecipeItem .cm {
  position: relative;
}

.RecipeItem img {
  width: 100%;
  height: auto;
}

.RecipeDetails h3 {
  font-size: 16px;
  color: #333;
  padding: 5px;
}

.Mark {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: flex-end;
}
.RecipeItem .bookmark {
  width: 17px;
}