.lecipe-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

.lecipe-detail-lp-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.lecipe-detail-image-placeholder {
    width: 100%;
    height: 360px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.lecipe-detail-image-placeholder img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.lecipe-detail-lp-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.lecipe-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lecipe-detail-buttons {
    display: flex;
    gap: 10px;
}

.lecipe-detail-tags {
    margin-bottom: 20px;
}

.lecipe-detail-tag {
    display: inline-block;
    background-color: #ff8c00;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 14px;
}

.lecipe-detail-lp-container h2 {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

.lecipe-detail-ingredient-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.lecipe-detail-ingredient-table td {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.lecipe-detail-summary {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-end;
}

.lecipe-detail-instructions {
    width: 100%;
    height: auto; /* 높이를 자동으로 조절 */
}

th {
    text-align: center; /* 텍스트 수평 가운데 정렬 */
}

/* Swiper 커스터마이징 */
.lecipe-detail-swiper-container {
    width: 100%;
    height: 360px; /* 이미지와 동일한 높이로 설정 */
}

.lecipe-detail-swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* 슬라이드 배경색 설정 */
    flex-direction: column;
}

.lecipe-detail-instruction-slide img {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.lecipe-detail-instruction-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lecipe-detail-instruction-text {
    margin-top: 20px;
    background: #fff8e1;
    border-radius: 5px;
    width: 100%;
    height: 300px;
    text-align: left;
}

.lecipe-detail-description {
    height: 80%;
    text-align: left;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.lecipe-detail-step-counter {
    text-align: right;
    color: #999;
    font-size: 1.5em;
}