* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    text-align: center;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}

.back-button {
    width: 28px; /* 아이콘 크기 조절 */
    height: 28px; /* 아이콘 크기 조절 */
    background-image: url('../img/back.png'); /* 아이콘 이미지 경로 */
    background-size: cover; /* 아이콘이 요소 크기에 맞게 조정 */
    display: inline-block; /* 아이콘을 인라인 블록 요소로 설정 */
}

.bannerImg{
    background-image: url('../img/banner.png'); /* 아이콘 이미지 경로 */
    height: 13px;
    width:20px;
    color: #FF7F00;
    margin: 20px 0;
}


form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: none;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input::placeholder {
    color: #ccc;
}

.login-button {
    background-color: #FF7F00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.signup-text {
    margin-top: 20px;
    color: #666;
}

.signup-text a {
    color: #FF7F00;
    text-decoration: none;
}
