.recomai-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.ai-TopBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #ff7f00;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.ai-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  background-image: url('/public/img/aicategory/aibackground.png');
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}

.ai-Image {
  width: 50%;
  max-width: 400px;
  height: auto;
  margin-top: auto;
}

.ai-Text {
  margin-top: 5%;
  font-size: 70px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.ai-Button {
  width: 500px;
  height: 30%;
  margin-top: 70px;
  padding: 10px 20px;
  background-color: #FF8500;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
}

.ai-Button:hover {
  background-color: darkorange;
}
.ai-sbtitle-align{
  text-align: center;
  margin-top: 30px;

}

.ai-Subtitle {
  text-align: center;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #FF8500;
  border-bottom :1px solid #FF8500;
}

.ai-NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0;
}

.ai-NavBar div {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #333;
}